/Library/
/Temp/
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/StartApp_InApp_SDK_Unity_Example-csharp.sln
/StartApp_InApp_SDK_Unity_Example.apk
/StartApp_InApp_SDK_Unity_Example.sln
/StartApp_InApp_SDK_Unity_Example.userprefs
